{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "filepath": "src/**/*.js",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "typescript"]
}
