.I-home {
  .I-header {
    padding: 24px 48px;
    background-color: #334960;
    .ant-typography {
      color: #ffffff;
    }
  }
  .I-analytic {
    padding: 24px 48px;
  }
  .I-analytic-fast {
    padding: 24px 48px;
  }
  .I-editor {
    padding: 24px 48px;
  }
}

.I-editor {
  .I-header {
    padding: 24px 48px;
    background-color: #334960;
    .ant-typography {
      color: #ffffff;
    }
  }
  .I-content {
    padding: 24px 48px;
  }
}
